.navi{
    padding: 1px 2px;
     background-color:#2874f0 ; 
    text-decoration: none;
    list-style-type: none;

    position: fixed;
    width:100%;
    margin-left: -8px;
    
}
ul,li{
    list-style-type: none;
    text-decoration: none;
    padding-left: 30px;
    
}
ul li a{
    text-decoration: none;
    color:white;
   

    /* padding: 1px 100px; */
   
  
}
.exp{
    /* margin-top: -10px; */
    margin-top: -17px;
    margin-left: 10px;

}
.exp span{
    color: #ffe500;
    font-weight: 500;
    margin-right: 2px;
}
.exp img{
    margin-left: -5px;
}
input{
    /* margin-left: 100px;
    width: 430px;
    padding: 10px 9px;
    margin-top: -30px;
    position: absolute; */
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    border: 0;
    outline: 0 none;
    font-size: 14px;
    height: 36px;
    width: 400px;
    margin-top: -30px;
    margin-left: 50px;
    position: absolute; 
}
.fa-solid{
    margin-left:460px ;
    color:black;
   width: 970px;
   padding-top: 20px;
    margin-top: -40px;
    position: absolute;
}
button{
    background: white;
    padding: 10px 10px;
    width: 120px;
    margin-left: 510px;
    margin-top: -30px;
    position: absolute;
    color: #2874f0;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
}
.spa span{
    
    margin-left: 758px;
    /* color: white; */
    margin-top: -46px;
    position: absolute;
    line-height: 20px;
    font-size: 19px;
    letter-spacing: .1px;
    font-weight: 500px;
    color: #fff;
    /* position: relative; */
}
.drop{
    margin-left: 928px;
    margin-top: -46px;
    position: absolute;
    font-size: 19px;
    color: #fff;

}
.drop i{
    margin-left: 900px;
    color: black;
}
.fas i{
    margin-left: 978px;
    position: absolute;
    margin-top: -78px;
    color: #fff;
}
.cart{
    margin-left: 1028px;
    margin-top: -46px;
    position: absolute;
    font-size: 19px;
    color: #fff;

}
.cont1{
    margin-top: 10px;
}